<form [formGroup]="myform" (ngSubmit)="editNasabah()">
    <h1 mat-dialog-title>{{ inputdata.title }}</h1>
    <div mat-dialog-content class="tabel-data">
      <label for="name">Nama</label>
      <mat-form-field>
      <input matInput formControlName="name" required>
      </mat-form-field>

      <!-- <label for="account">Nomor Rekening</label>
      <mat-form-field>
      <input matInput formControlName="account" id="account" readonly>
      </mat-form-field> -->

      <label for="email">Email</label>
      <mat-form-field>
      <input matInput formControlName="email" required>
      </mat-form-field>

      <label for="phone">Nomor Telepon</label>
      <mat-form-field>
      <input matInput formControlName="phone" required>
      </mat-form-field>

      <!-- <label for="card">Jenis Kartu Debit</label>
      <mat-form-field>
      <input matInput formControlName="card" id="card" readonly>
      </mat-form-field> -->

      <label for="motherName">Nama Gadis Ibu Kandung</label>
      <mat-form-field>
      <input matInput formControlName="motherName" required>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <div class="btn-actions">
        <a (click)="closepopup()" class="btn-batal">Batal</a>
        <button type="submit" class="btn-simpan">Simpan</button>
      </div>
    </div>
</form>